@font-face {
    font-family: Calibre;
    src: url('/public/font/Calibre/Calibre-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Calibre;
    src: url('/public/font/Calibre/Calibre-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: SFMono;
    src: url('/public/font/SFMono/SFMono-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: SFMono;
    src: url('/public/font/SFMono/SFMono-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: SFMono;
    src: url('/public/font/SFMono/SFMono-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: SFMono;
    src: url('/public/font/SFMono/SFMono-Medium.otf');
    font-weight: 500;
}
