::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

::-webkit-scrollbar-track {
    background-color: #ccd6f6;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #8892b0;
}

.no-scrollbar {
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
